# Ignore Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.crash
*.terraform.lock.hcl

# Ignore Ansible files
*.retry

# Ignore Python virtual environments
venv/
.env

# Ignore Node.js modules
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore Docker files
docker-compose.override.yml
.docker/
.dockerignore

# Ignore Kubernetes files
kube-config.yaml
.kube/

# Ignore IDE and editor files
.vscode/
.idea/
*.swp

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore sensitive files
secrets.yaml
.secret
